<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>
      Hello from Handlebars!
    </h1>
    <ul>
      {{#each list}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>